[submodule "csharp"]
	path = csharp
	url = https://github.com/jeremybytes/digit-display-csharp-comparison
[submodule "golang"]
	path = golang
	url = https://github.com/jeremybytes/digit-display-golang-comparison
[submodule "rust-lang"]
	path = rust-lang
	url = https://github.com/jeremybytes/digit-display-rust-lang-comparison
